<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]= "name" placeholder="Inserte un nombre"></ion-input>
  </ion-item>

  <ion-button shape="round" (click)="Age()">Generar</ion-button>

  <ion-item>
    <h3>Edad: {{age}}</h3>
  </ion-item>
  <ion-item>
    <h3>Eres un: {{eres}}</h3>
  </ion-item>

  <ion-item>
    <img src={{img}}>
  </ion-item>


</ion-content>
